<div class = "container">
   <div class = "jumbotron">
      <h1 id='title'>Blocitoff</h1>
      <p id='text'>A self-destructing to-do list to keep you focused on the things that really matter.</p>
   </div>
</div>
