// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
   text-align: center;
   color: #000000;
   font-family: serif;
 }

 #text {
    text-align: center;
    color: #4f5656;
    font-family: sans-serif;;
  }

.jumbotron {
  background: 	#efeff2;
  border: 1px solid #dadae3;
  border-radius: 8px;
  margin: 30px 270px 80px 270px;
  padding: 0px 50px 50px 50px;
}
